* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-image: url("../assets/sunny_wallpaper.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background-position: center;


    @media screen and (min-width: 768px) {
        background-position: center;
    }
}